body{
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.parte_superior{
    width: 100%;
    border-bottom: 4px solid rgb(39, 39, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;

        font-weight: bold;
        
        background-color: black;

        position: fixed;
        z-index: 999;
       
}

.titulo{
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.parte_superior li{
    list-style: none;
}

.parte_superior a{
    color: gray;
    font-size: 20px;
    text-decoration: none;
}

.titulo_superior{
    margin-left: 100px;
    font-size: 37px;
}

.parte_superior img{
    height: 140px;
    margin-left: 50px;
    margin-top: 10px;
}

.itens_superior{
    display: flex;
    gap: 30px;
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fundo{
    background-image: url("../assets/imgs/fundo_cadastro_login.png");
    background-size: cover;
    height: 1080px;
    display: flex;

        justify-content: center;
        align-items: center;

        font-weight: bold;

        color: white;
}

.card{
    background-color: rgb(36, 36, 36);
    border-radius: 13px;
    width: 450px;
    text-align: center;
    padding: 25px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.card span{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card input{
    padding: 7px;
    border-radius: 8px;
    border: 2px solid gray;
}

.botao{
    width: 42%;
    background-color: gray;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.botao a:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.info a{
    background-color: black;
    color: gray;
    transition: 0.5s;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login_inicio{
    display: flex;
    gap: 25px;
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover{
    background-color: gray;
    color: white;
    transition: 0.5s;
    border-radius: 8px;
    padding: 10px;
}

.pagina_um{
    background-image: url("../assets/imgs/thumb-1920-1243302.png");
    background-size: cover;
    background-position: center;
    height: 85.7vh;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 100px;

    color: white;
    
    background-attachment: fixed;
    position: relative;
}

.itens_pag1{
    z-index: 998;
}

.filtro{
    width: 100%;
    height: 90.4%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.397);
    left: 0;
}

.titulo_principal{
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;
}

.descricao{
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
    max-width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botao_home{
    padding: 15px;

    background-color: white;
    color: black;

    text-decoration: none;

    border-radius: 8px;

    font-size: 20px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botao_home:hover{
    background-color: gray;
    color: white;
    transition: 0.5s;
    padding: 20px;
}

.botao_login a:hover{
    background-color: gray;
    color: white;
    transition: 0.5s;
    border-radius: 8px;
    padding: 10px;
}


.pagina_dois{
    background-color: rgb(43, 43, 43);
    background-size: cover;
    background-position: center;
    height: 85.7vh;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 100px;

    color: white; 
}

.itens_pag2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    padding: 100px;
}

.img_pag2{
    width: 600px;
    border-radius: 15px;
}

.itens_pag2{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px); 

    padding: 100px;
    border-radius: 15px;

    max-width: 1000px;
    color: white;

    margin-left: 230px;
}

.titulo_principal_pag2{
    font-size: 42px;
    font-weight: bold;
}

.descricao1_pag2{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.descricao2_pag2{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pagina_dois{
    border-top: 2px solid rgba(255,255,255,0.1);
}

.pagina_tres{
    background-image: url("../assets/imgs/thumb-1920-1236668.png");
    background-size: cover;
    background-position: center;
    height: 150vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-attachment: fixed;
    position: relative;
}

.itens_pag3{
    width: 900px;
    
    background: rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(10px); 

    border-radius: 20px;

    padding: 50px;

    color: white;

    backdrop-filter: blur(5px);

    text-align: center;
}



.itens_pag3 h1{
    font-size: 35px;
}

.itens_pag3 h2{
    font-size: 20px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.itens_pag3 select{
    width: 190px;

    padding: 7px;

    border-radius: 8px;

    font-size: 14px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botao_quiz{
    padding: 10px;

    background-color: black;
    color: gray;

    border-radius: 8px;

    font-size: 16px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    border: none;
}   

.botao_quiz:hover{
    background-color: gray;
    color: white;
    transition: 0.5s;
    border-radius: 8px;
    padding: 10px;
}

.resultado2{
    font-size: 30px;
    margin-top: 10px;
}

.alert{
    font-size: 20px;
}

.titulo{
    font-size: 33px;
}

.pagina_tres{
    border-top: 2px solid rgb(83, 83, 83);
}

.pagina_quatro{
    background-color: rgb(43, 43, 43);
    background-size: cover;
    background-position: center;
    height: 85.7vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pagina_quatro{
    border-top: 2px solid rgba(255,255,255,0.1);
}

.itens_pag4{
    width: 1200px;

    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(10px);

    border-radius: 25px;

    padding: 50px;

    color: white;
}

.titulo_resultado{
    font-size: 65px;

    margin-bottom: 40px;
}

.resultado{
    display: flex;

    align-items: flex-start;

    gap: 40px;
}

.img_resultado{
    width: 320px;

    height: 520px;

    object-fit: cover;

    border-radius: 20px;
}

.resultado_quiz{
    display: flex;

    flex-direction: row;

    gap: 20px;
}

.resultado_quiz h1{
    font-size: 45px;
}

.resultado_quiz p{
    font-size: 20px;
}

.resultado_quiz2{
    display: flex;

    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
}

.pagina_cinco{
    background-image: url("../assets/imgs/thumb-1920-1039168.png");
    background-size: cover;
    background-position: center;
    height: 150vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-attachment: fixed;
    position: relative;
}